[user]
	name = David Numan
	email = dave@gv.ca
[core]
	autocrlf = false
[diff]
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	co = checkout
	ci = commit
	st = status
	graphlog = log --oneline --graph --branches
	g = grep -n --color
[push]
	default = simple
[branch]
	autosetuprebase = always
[credential]
	helper = cache --timeout=7200
[log]
	abbrevCommit = true
